<ion-grid><ion-row><ion-col size="12" size-sm><ion-card><div><ion-img alt="{{metadata.title}}" src="{{metadata.section.cover}}"></ion-img></div></ion-card></ion-col></ion-row></ion-grid>
<ion-grid><ion-row>{{ content | safe }}
    
<ion-col size="12" size-sm><div><ion-card color="dark"><center><ion-card-header><ion-avatar>
<img alt="{{metadata.title}}" src="{{metadata.section.icon}}" width="80" alt=""/></ion-avatar>
<ion-card-subtitle><p>{{metadata.section.slogan}}</p></ion-card-subtitle>
<ion-card-title>{{metadata.section.title}}</ion-card-title>
<ion-button color="light" fill="outline" href="https://app.midtrans.com/payment-links/1647457988722">Donation →</ion-button>
</ion-card-header><ion-card-content><p>{{metadata.section.content}}</p><hr/>
<ion-button color="light" href="https://github.com/mesinkasir/mobile11ty/raw/main/android/mobile11ty.apk"><ion-icon name="logo-android"></ion-icon>&nbsp; Android</ion-button>
<ion-button color="light" href="https://github.com/mesinkasir/mobile11ty"><ion-icon name="logo-github"></ion-icon>&nbsp; Github</ion-button>
</ion-card-content></center></ion-card></div></ion-col>
    
<ion-col size="12" size-sm>
<div><ion-card color="dark"><ion-card-header><ion-card-title><h3>Page</h3></ion-card-title></ion-card-header>
{%- for entry in collections.all | eleventyNavigation %}
<ion-item href="{{ entry.url }}" class="ion-activated"><ion-icon name="heart-circle-outline"></ion-icon>&nbsp;
<ion-label><p>{{ entry.title }}</p></ion-label></ion-item>
{%- endfor %}
</ion-card></div></ion-col></ion-row></ion-grid>
