/* https://colorhunt.co/palette/147615 */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

h1 {
  color: #553c8b;
}

.linktree li {
  min-height: 60px;
  background-color: #ccc1ff;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  list-style: none;
  border-radius: 5px;
}

@media only screen and (max-width: 420px) {
  #linktree li {
    min-width: 100%;
  }
}

.linktree li a {
  color: #553c8b;
  font-size: 20px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.linktree li p {
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}

.glitchButton {
  position: fixed !important;
  top: 30px !important;
  right: 60px !important;
}