</ion-content><ion-footer><ion-toolbar><ion-tabs>
<ion-tab-bar class="ion-justify-content-around" slot="bottom" color="dark">
<ion-tab-button href="{{metadata.menu.url1}}">
<ion-icon name="{{ metadata.menu.icon1 }}"></ion-icon>
<ion-label>{{ metadata.menu.menu1 }}</ion-label></ion-tab-button>
<ion-tab-button href="{{metadata.menu.url2}}">
<ion-icon name="{{ metadata.menu.icon2 }}"></ion-icon>
<ion-label>{{ metadata.menu.menu2 }}</ion-label></ion-tab-button>
<ion-tab-button href="{{metadata.menu.url3}}">
<ion-icon name="{{ metadata.menu.icon3 }}"></ion-icon>
<ion-label>{{ metadata.menu.menu3 }}</ion-label></ion-tab-button>
<ion-tab-button href="{{metadata.menu.url4}}">
<ion-icon name="{{ metadata.menu.icon4 }}"></ion-icon>
<ion-label>{{ metadata.menu.menu4 }}</ion-label></ion-tab-button>
</ion-tab-bar></ion-tabs></ion-toolbar></ion-footer>
</ion-app>
</body>
</html>