{% include "layouts/widget/head.njk" %}
{% include "layouts/widget/seo.njk" %}
{% include "layouts/widget/header.njk" %}
{% include "layouts/widget/section.njk" %}
{% include "layouts/widget/footer.njk" %}