AUTH_SECRET="***"

# Generate on NeonDB
POSTGRES_URL="***"

# Generate on OpenAI
OPENAI_API_KEY="***"

# Set on NextAuth e.g http://localhost:3000 for development and https://yourdomain.com for production
NEXTAUTH_URL="***"

# Require for deploy on Azion
AZ_ENABLE_SANITIZE_WORKER=true