{% include "layouts/widget/head.njk" %}
{% include "layouts/widget/seo.njk" %}
{% include "layouts/widget/header.njk" %}
{% include "layouts/widget/content.njk" %}
{% include "layouts/widget/support.njk" %}
{% include "layouts/widget/footer.njk" %}
