# Note: All values must be base64 encoded and should be decoded when used

# VITE_COPILOT_ENDPOINT: URL of the Copilot endpoint for completions
VITE_COPILOT_ENDPOINT=

# VITE_THEME: Theme to be used
#   Options: light or dark
VITE_THEME=

# VITE_TITLE: Application title
VITE_TITLE=

# VITE_SUBTITLE: Application subtitle
VITE_SUBTITLE=

# VITE_PREVIEW_TEXT: Preview mode disclaimer
VITE_PREVIEW_TEXT=

# VITE_FOOTER_DISCLAIMER: Footer disclaimer text
VITE_FOOTER_DISCLAIMER=

# VITE_AUTH_MODE: Authentication mode
#   Options: basic or clerk. 
VITE_AUTH_MODE=

# VITE_CLERK_PUBLIC_KEY: Clerk public key
VITE_CLERK_PUBLIC_KEY=
