<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>Sample Landing Page with Components - powered by ButterCMS</title>
  <meta name="description" content="Sample Landing Page with Components - powered by ButterCMS"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
  <body>
    <app-header
      [menuData]="menuData"
    >
    </app-header>
    <ng-container *ngIf="isApiToken(); else noApiToken">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #noApiToken>
      <app-no-api-token></app-no-api-token>
    </ng-template>
    <app-footer
      [menuData]="menuData"
    >
    </app-footer>
  </body>
</html>
