@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

@layer base{
    body{
        @apply overflow-x-hidden;
        @apply font-Inter;

    }
}
.swiper-pagination-bullet-active {
    background-color: rgb(154 52 18);
  }
  .swiper-button-next,
  .swiper-button-prev {
      right:10px;
      padding: 30px;
      color: rgb(154 52 18)!important;
      fill: rgb(154 52 18) !important;
      stroke: rgb(154 52 18) !important;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--whiteColor); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blackColor); 
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #060606; 
  }
 
  [hidden] {
    display: none !important;
  }