---
// @ts-nocheck
import Layout from "@layouts/LandingPageLayout.astro";
import Container from "@layouts/Container.astro";
import { getCollection } from "astro:content";
import ContentSection from "../../node_modules/@aziontech/azion-web-kit/src/templates/content-section-block/index.vue";
import HeroBlockBase from "../../node_modules/@aziontech/azion-web-kit/src/templates/hero-block-base/index.vue";

import CardBase from "../../node_modules/@aziontech/azion-web-kit/src/templates/card/base.vue";
import CardTitle from "../../node_modules/@aziontech/azion-web-kit/src/fragments/text/card-title.vue";
import Overline from "../../node_modules/@aziontech/azion-web-kit/src/fragments/text/overline.vue";
import LinkButton from "../../node_modules/@aziontech/azion-web-kit/src/templates/button/link.vue";

import Lottie from '@components/Lottie/index.vue';
import ConfeteAnimation from "public/assets/animations/Confete.json"

const dataCollection = await getCollection("braziljs");
const lang = 'pt-br';
const { render } = dataCollection[0];
const { Content } = await render();

const title = "Challenge Deploy at the Edge BrazilJS";
const description = "#BrazilJS";
const ogImage = "";
const i18nPages = [];
const meta_tags = "Voce passou com sucesso pelo Nível 1 do desafio Azion Move to the Edge.";
const buttons = [
    // {
    //     link: "#Discord",
    //     title: "Discord",
    //     text: "Discord",
    //     destak: true
    // }
];
const bottomButtonsMobile = [];
const menuData = {
    items: []
};
---

<Layout
    {...{
        title,
        description,
        lang,
        ogImage,
        i18nPages,
        meta_tags,
        buttons,
        menuData,
        bottomButtonsMobile,
    }}
>

    <div class="animation-confete absolute w-full h-full z-20 overflow-hidden t-[-100px]">
        <Lottie animationData={ConfeteAnimation} client:load />
    </div>

    <HeroBlockBase
        isCentralized={true}
        overline="PRIMEIRA FASE"
        justify="center"
        title="Parabéns! Você passou com sucesso pela primeira fase do desafio."
        description="Vá até o nosso estande e retire a sua caneca e concorra a um ingresso para o evento #BrazilMentioned em SP com ThePrimeagen. Canecas limitadas às primeiras 100 pessoas por dia que concluírem o desafio BrazilJS Conf."
    >
        <Fragment slot="main">
            <div
                class="h-[268px] bg-cover bg-center bg-no-repeat rounded border surface-border"
                style="background-image: url('/assets/template-braziljs/caneca-jedi.png')">
            </div>
        </Fragment>
    </HeroBlockBase>
    

    <Container>
        <div class="m-auto">
            <ContentSection>
                <Fragment slot="content">
                    <CardBase grid id="Discord">
                        <Fragment slot="content-raw">
                            <div class="flex flex-col lg:flex-row">
                                <div
                                    class="p-5 md:pl-8 md:py-8 md:pr-0 flex flex-col gap-5 w-full lg:w-[480px]"
                                >
                                    <Overline label="DISCORD" />
                                    <CardTitle>
                                        Acesse dicas exclusivas, informações sobre os níveis do desafio e premiações. 
                                    </CardTitle>
                                    <div
                                        class="flex flex-col md:flex-row gap-4"
                                    >
                                        <LinkButton
                                            outlined
                                            label="Azion Discord"
                                            icon="pi pi-discord"
                                            iconPos="left"
                                            link="https://discord.gg/rJsUKCAYzY"
                                            target="_blank"
                                        />
                                    </div>
                                </div>
                                <div
                                    class="w-full lg:w-[300px] lg:bg-cover lg:bg-[url('/assets/template-braziljs/discord.png')] rounded"
                                >
                                </div>
                            </div>
                        </Fragment>
                    </CardBase>
                </Fragment>
            </ContentSection>
        </div>
        

        <ContentSection
            title="Participe da fase final do desafio e concorra a uma bolsa de estudos RocketSeat ONE no valor aproximado de R$ 2 mil"
            overline="FASE FINAL"
            description="Siga o passo a passo para proteger sua aplicação contra ataques DDoS e boa sorte!"
            titleTag="h2"
        >
            <Fragment slot="content">
                <div class="border surface-border rounded">
                    <Content />
                </div>
            </Fragment>
        </ContentSection>
    </Container>
</Layout>
