---
import Navbar from "./Navbar.astro";
---

<div class="hero-wrapper">
  <div class="container">
    <Navbar />
    <slot />
  </div>
</div>

<style>
  .hero-wrapper {
    background-color: #191919;
  }
</style>
