---
import { Image } from "astro:assets";
import Text from "../atoms/Text.astro";
import outroImg from "../../../public/assets/shared/desktop/image-best-gear.jpg";
---

<div
  class="container flex flex-col-reverse lg:flex-row items-center lg:items-left justify-between outro"
>
  <div class="w-full flex flex-col justify-center gap-4">
    <div class="w-full lg:w-[396px]">
      <Text type="h3" className="text-center lg:text-left">
        BRINGING YOU THE BEST AUDIO GEAR
      </Text>
    </div>
    <div class="w-full lg:w-4/6">
      <Text type="body" className="text-center lg:text-left">
        Located at the heart of New York City, Audiophile is the premier store
        for high end headphones, earphones, speakers, and audio accessories. We
        have a large showroom and luxury demonstration rooms available for you
        to browse and experience a wide range of our products. Stop by our store
        to meet some of the fantastic people who make Audiophile the best place
        to buy your portable audio equipment.
      </Text>
    </div>
  </div>
  <Image class="mb-16 lg:mb-0" src={outroImg} alt="best-gear" />
</div>

<style>
  .outro {
    margin-top: 100px;
    margin-bottom: 100px;
  }
</style>
