---
const { id } = Astro.props;
---

<div class="modal" id={id}>
  <slot />
</div>

<style>
  .modal {
    position: fixed;
    /* transform: translate(-50%, -50%); */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
  }
</style>
